@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Monoton&family=Special+Elite&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.app-container {
  background-color: black

} 


.search-container{
  height:100vh; 
  width:100%;
  background-image: url(https://idahonews.com/resources/media/23a53fce-03ba-41ec-bb3e-7173acbc23d5-large16x9_Movie_Theater.jpg?1594266488683);

  /* height: 100%;  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


.movie-container {
 height: 100vh;
 width:100%;

}

.review-container {
    border-top: 3px double red;
    border-bottom: 3px double blue;
    border-right: 3px double yellow;
    border-left: 3px double green; 
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.watchlist-container {
  
  position: "sticky-bottom";
  background-image: url(https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.login-container {
  height:100vh; 
  width:100%;
  background-image: url(https://i.pinimg.com/originals/f2/6e/84/f26e8475e11dc05a7858b0025e4aeca5.jpg);

  /* height: 100%;  */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.card{
 margin-top: 15px ;
 margin-bottom: 15px;
}

.poster-show {
  border-top: double red;
  border-left: double blue;
  border-bottom: double green;
  border-right: double yellow;
}

/* .poster-image {
  ;
} */

.stars-rater{
margin: 0 auto
}

.topfive-profile-container{
  background-color: black;
  border-top: double red;
  border-right: double yellow;
  border-left: double green;
  border-bottom: double blue
}

.navbar-title {
  color: white;
  font-family: 'Monoton', cursive
}

.review-title {
  color: white;
  font-family: 'Special Elite', cursive;
}

.review-text {
  color: white;
  font-family: 'Fugaz One', cursive;
}

.topfivemain-container {
  border-top: double red;
  border-right: double yellow;
  border-left: double green;
  border-bottom: double blue;
  margin-top: 15px;
}






